body{

font-family:Arial;
background:#0f172a;
color:white;
text-align:center;

}

h1{

color:#22d3ee;

}

input{

padding:10px;
margin:10px;
border-radius:5px;
border:none;

}

button{

padding:10px 20px;
margin:10px;
background:#22d3ee;
border:none;
border-radius:6px;
cursor:pointer;

}

button:hover{

background:#06b6d4;

}

#globe{

width:600px;
height:400px;
margin:auto;

}
